



.lookup-sort_handle {
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
    cursor: move;
    padding: 5px;
    border-radius: 2px;
}
.lookup-sortable-handle {
    touch-action: none;
    -ms-touch-action: none;

    user-select: none;
    -webkit-user-drag:none;
    cursor: move;
    padding: 5px;
    border-radius: 2px;
}



.lookup-sortable-chosen {
    opacity: 0.5;
    border: 2px dashed darkblue;
    box-shadow: 4px 3px 0 0 rgba(0, 0, 139, 0.6);
}

.lookup-sortable-drag {
    opacity: 0.1;
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    background-color: white;
    border: 4px darkblue dashed;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 139, 0.4);
}
.lookup-sortable-ghost {
    opacity: 0.5;
    background: #C8EBFB;
    color:darkblue;
    border: 3px darkblue solid!important;
}
.lookup-sortable-fallback {
    opacity: 0;
    display: none;
    background-color: #eee;
    border: 2px dashed #000;
}

.lookup-pointer {cursor: pointer;}
.lookup-acota {font-size:10px;color:gray;text-align:center;font-style:italic;font-family:Courier New, Courier, monospace;line-height:0.9em;padding:0;margin:0.3em 0 0 0}
.lookup-rojo {color:red}
.lookup-inactivo {color: red; text-decoration: line-through;}
.lookup-manage {cursor:pointer;}
.lookup-dialog {
    border:7px groove maroon;border-image: linear-gradient(to right,  #ed2756, blue, darkblue, maroon) 1;padding:0;
    width:90vw;overflow:auto;
    height:85vh;max-height:960px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.lookup-dialog::backdrop {background-color: rgba(245, 245, 245, 0.2);}
.lookup-dialog_title {
    background-color:maroon;background: linear-gradient(to right,  #ed2756, blue, darkblue, maroon); font-weight:bold;margin:0;padding:5px;
    display:flex;justify-content:space-between;align-items:center;
}
.lookup-elevation-2 {box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.3), 0 1px 8px 0 rgb(0 0 0 / 0.15);}
.lookup-elevation-4 {box-shadow: 0 6px 10px 4px rgb(0 0 0 / 0.15), 0 2px 3px 0 rgb(0 0 0 / 0.3);}
.lookup-dialog_title_frase {font-size:1.4em;font-weight:bold;color:white}
.lookup-dialog_content {margin:0.3em;padding:0.3em}
.lookup-dialog_new_catego {border-bottom:1px solid maroon;padding:0.3em;margin:0.3em}
.lookup-dialog_add {cursor:pointer;}
.lookup-dialog_cancel {cursor:pointer;}
.lookup-dialog_save {cursor:pointer;}
.lookup-dialog_close {cursor:pointer;}
.lookup-reorder {vertical-align: bottom;text-align:center;cursor:grab}
.lookup-select {background-color: white}
.lookup-action {display:flex;justify-content:space-between;align-items:center;gap:1em; padding:0.3em}
.lookup-cell {width:28em}
TABLE.lookup-tabler {border:1px darkblue solid; border-collapse: collapse;box-shadow:darkblue 4px 4px 0 0}
TABLE.lookup-tabler {border:1px darkblue solid; border-collapse: collapse;box-shadow: 3px 3px 0 0 rgba(0, 0, 139, 0.6), 0 2px 2px rgba(0, 0, 139, 0.7)}
TABLE.lookup-tabler CAPTION {border:1px darkblue solid; font-weight: 800; font-size:1.3em }
TABLE.lookup-tabler TD {border:1px darkblue solid; text-align: left; vertical-align: top; padding:0.4em; }
TABLE.lookup-tabler TH {border:1px darkblue solid; text-align: center; vertical-align: middle; padding:0.4em; font-weight: bold;color:#00F}
TABLE.lookup-tabler TD.izq {text-align: left; }
TABLE.lookup-tabler TD.lft {text-align: left;}
TABLE.lookup-tabler TD.cen {text-align: center;}
TABLE.lookup-tabler TD.der {text-align: right; }
TABLE.lookup-tabler TD.rgt {text-align: right; }
TABLE.lookup-tabler TR.totalAbove TD {font-weight: bold;border-bottom: 8px double darkgray!important;}
TABLE.lookup-tabler TR.totalBelow TD {font-weight: bold;border-TOP: 8px double darkgray!important;}
